<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Car Insurance Quote Form</h5>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("QuoteForm", "Home", FormMethod.Post))
            {
                <div class="row no-gutters">
                    <div class="form-group col-md-12">
                        <span>Fill out this application form for your car insurance quote</span>
                    </div>
                    <div class="form-group col-md-12">
                        <input name="FirstName" type="text" class="form-control" placeholder="Provide Your First Name" required="required" />
                    </div>
                    <div class="form-group col-md-12">
                        <input name="LastName" type="text" class="form-control" placeholder="Provide Your Last Name" required="required" />
                    </div>
                    <div class="form-group col-md-12">
                        <input name="EmailAddress" type="email" class="form-control" placeholder="Provide Your Email Address" required="required" />
                    </div>
                    <div class="form-group col-md-12">
                        <span>Provide Your Date of Birth</span>
                        <input name="DateofBirth" type="date" class="form-control" placeholder="Date of Birth" required="required" />
                    </div>
                    <div class="form-group col-md-12">
                        <input name="CarYear" type="text" class="form-control" placeholder="Provide Your Car Year" required="required" />
                    </div>
                    <div class="form-group col-md-12">
                        <input name="CarMake" type="text" class="form-control" placeholder="Provide Your Car Make" required="required" />
                    </div>
                    <div class="form-group col-md-12">
                        <input name="CarModel" type="text" class="form-control" placeholder="Provide Your Car Model" required="required" />
                    </div>
                    <div class="form-group col-md-12">
                        <input name="TicketNumber" type="text" class="form-control" placeholder="How many speed ticket did you receive?" required="required" />
                    </div>
                    <div class="row">
                        <div class="form-group m-2">
                            <div class="form-group col-md-12">
                                <label>Have you ever had a DUI, then check the box?</label>
                                <input name="dui" type="checkbox" class="form-control" placeholder="Have you ever had a DUI?" value="true" />
                            </div>
                        </div>
                        <div class="form-group m-2">
                            <div class="form-group col-md-12">
                                <label>For the full coverage, check the box, or only liability covered.</label>
                                <input name="coverage" type="checkbox" class="form-control" placeholder="Would you like a full coverage?" value="true" />
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-block btn-primary">Submit</button>
                </div>
            }
        </div>
    </div>
</div>